<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        header, main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }
        *:focus {
            outline: none;
        }
    </style>
    <link rel="stylesheet" href="assets/css/scrollbar.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>

<body class="grey lighten-2">
<header>
    <ul id="slide-out" class="sidenav sidenav-fixed blue-grey darken-3">
        <li class="logo">
            <div class="row" style="margin-bottom: 0px;">
                <div class="col s3 m3 l3">
                    <img src="assets/images/amoeba.png">
                </div>
                <div class="col s9 m9 l9">
                    <h3 class="white-text center">Amoeba</h3>
                </div>
            </div>
        </li>
        <ul class="collapsible" data-collapsible="accordion">
            <a href="/board">
                <li>
                    <div class="collapsible-header waves-effect white-text">
                        <b>コンテナボード</b>
                    </div>
                </li>
            </a>
            <li>
                <div class="collapsible-header waves-effect white-text"><b>コンテナ一覧</b></div>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a class="waves-effect blue-grey darken-2 white-text" style="text-decoration: none;" href="/container-list">test-container</a>
                        </li>
                        <li>
                            <a class="waves-effect blue-grey darken-2 white-text" style="text-decoration: none;" href="/container-list">test-container2</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header waves-effect white-text"><b>スナップショット</b></div>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a class="waves-effect blue-grey darken-2 white-text" style="text-decoration: none;" href="/snapshot-list">スナップショット一覧</a>
                        </li>

                        <li>
                            <a class="waves-effect blue-grey darken-2 white-text" style="text-decoration: none;" href="#!">コンテナの復元</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header waves-effect white-text"><b>設定</b></div>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a class="waves-effect blue-grey darken-2 white-text" style="text-decoration: none;" href="#!">設定1</a>
                        </li>

                        <li>
                            <a class="waves-effect blue-grey darken-2 white-text" style="text-decoration: none;" href="#!">設定2</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </ul>
</header>
<main>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue-grey darken-4">
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>
    <div class="container" style="width: 95%;">
        {{template "content"}}
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light grey darken-3 modal-trigger" href="#modal1">
            <i class="large material-icons">playlist_add</i>
        </a>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h5>コンテナ作成</h5>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="input-field col s12">
                        <input id="container_name" type="text" class="validate">
                        <label for="container_name">コンテナ名</label>
                    </div>
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Choose container image</option>
                            <option value="1">Ubuntu 16.04</option>
                            <option value="2">Centos 7</option>
                            <option value="3">Arch Linux</option>
                        </select>
                    </div>
                    <div class="input-field col s12">
                        <p>コア数</p>
                        <p class="range-field">
                            <input type="range" id="cpu" min="1" max="4">
                        </p>
                    </div>
                    <div class="input-field col s12">
                        <p>メモリ (MB)</p>
                        <p class="range-field">
                            <input type="range" id="cpu" min="512" max="1024">
                        </p>
                    </div>
                    <div class="input-field col s12">
                        <p>ディスク容量 (GB)</p>
                        <p class="range-field">
                            <input type="range" id="cpu" min="10" max="30">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect btn-flat modal-action create-cancel">キャンセル</a>
            <a class="modal-close waves-effect btn-flat modal-action create-container">作成</a>
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, options);
    });

    // Or with jQuery

    $('.dropdown-trigger').dropdown();
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('.modal').modal();
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
    });
</script>
<script>
    (function($) {
        $(function() {
            $(".dropdown-button").dropdown({
                inDuration: 300,
                outDuration: 225,
                constrain_width: false,
                belowOrigin: false,
                alignment: 'left'
            });
        });
    })(jQuery);
</script>
</body>
</html>