{{define "container-list"}}
<h5>コンテナ一覧</h5>
<table class="highlight">
    <thead>
    <tr>
        <th>名前</th>
        <th>状態</th>
        <th>IPv4アドレス</th>
        <th>スナップショット</th>
        <th>作成日</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>study-kernel</td>
        <td><span class="new badge" data-badge-caption="">RUNNING</span></td>
        <td>163.138.193.242</td>
        <td>1</td>
        <td>2018/06/17</td>
    </tr>
    <tr>
        <td>study-kernel2</td>
        <td><span class="new badge red" data-badge-caption="">STOP</span></td>
        <td>163.138.193.234</td>
        <td>2</td>
        <td>2018/06/17</td>
    </tr>
    </tbody>
</table>
{{end}}