{{define "content"}}
<h5>test-container</h5>
<div class="row">
    <div class="col s12 m4 l4">
        <p><b>オペレーティングシステム</b></p>
        <h6>Ubuntu 16.04 (64bit)</h6>
        <p><b>作成日</b></p>
        <h6>2018/06/27</h6>
        <p><b>IPv4</b></p>
        <h6>163.138.193.242</h6>
        <p><b>CPU (コア)</b></p>
        <h6>4</h6>
        <p><b>メモリ (MB)</b></p>
        <h6>1024</h6>
        <p><b>ディスク (GB)</b></p>
        <h6>20</h6>
    </div>
    <div class="col s12 m8 l8">
        <p><b>トラフィック</b></p>
        <h6>graph space</h6>
        <p><b>プロセッサ</b></p>
        <h6>graph space</h6>
        <p><b>メモリ使用量</b></p>
        <h6>graph space</h6>
    </div>
</div>
<div class="row">
    <a class="waves-effect waves-light btn-small green">停止</a>
    <a class="waves-effect waves-light btn-small orange">再起動</a>
    <a class="waves-effect waves-light btn-small red">削除</a>
</div>
{{end}}